@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

#root {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.navbar{
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 80px;
  li{
    padding: 10px;
    a{
      font-size: 14px;
    }
  }
}

.mobile-only{
  display: none;
}

.dropdown{
  border: 2px solid black;
  border-radius: 10px;
  /* color: white; */
}

.dropdown-menu{
  width: 90px;
  background-color: #ffffff;
  flex-direction: column; /* Ensures vertical stacking */
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  li{
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    min-height: 40px;    
    font-size: 18px;
    .link{
      color: black;
    }
  }
}

.blue{
  color: #4f82b2;
}

.underline{
  text-decoration: underline;
}

.app-body {
  background: #0e016f;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.about-us{
  background: #0e016f;
  /* background-image: url("/images/coat-marquee.JPG"); */
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  .bio-pic{
    background: #0e016f;
    background-image: url("/images/coat-marquee.JPG");
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-us-text{ 
    flex-direction: column;
    background-color: black;
  }
  .bio-text{
    width: 95%;
    font-size: 18px;
    padding: 20px;
  }
  .bold{
    font-weight: bold;
  }
}

#heat-map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  filter: blur(40px) saturate(10);
}
#heat-map div {
  height: 60%;
  width: 60%;
  background: #fc00ff;
  background: radial-gradient(circle, #ff0044 , #00dbde);
  position: absolute;
  border-radius: 50%;
}

.hero-info{
  position: relative;
  z-index: 100;
  color: white;
  text-align: center;
  h1{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;        
    font-size: 98px;
    font-weight: bold;
  }
  .hero-logo{
    height: 200px;
  }
}

.live{
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/images/band-psych.JPG");
  background-position: 50% 5%;
  background-size: cover;
  background-repeat: no-repeat;  
  h2{
    font-size: 48px;
  }
  .shows{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 80px;
  }
  ul li{
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    font-size: 32px;
    min-height: 80px;
    position: relative;
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);    
    background-color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    padding: 20px 0px;
    .city{
      font-size: 16px;
    }
  }
  ul li:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(110%)
  }
  ul li:first-child{
    border-top: 2px solid rgba(255, 255, 255, 0.2);    
  }
  .date{
    text-align: left;
    padding-left: 25px;
    flex: 1;
  }
  .location{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .time{
    text-align: right;
    flex: 1;
    padding-right: 25px;
  }  
  .city {
    font-size: 16px;
    font-style: normal;
    opacity: 0.8; /* Slight transparency for better readability */
    margin-top: 4px;
  }  
}

/* LISTEN PAGE */
.listen{
  padding-top: 80px;
  padding-bottom: 80px;
}

.spotify-wrapper{
  padding-top: 40px;
  .playlist{
    padding: 0px 20px;
  }
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color);
  }
  50% {
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color);
  }  
  100%{
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color);
  }
}



.cyber-glow{
  margin: 0 0 16px 0;
  color: var(--primary-color);
  text-align: center;
  animation: glowPulse 2s infinite;
  font-weight: bold;
  
}

.pink{
  color: var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}

.pink-two{
  color: #c0365c;
}

.cyber-glow\:glowPulse { animation: glowPulse 2s infinite; }

.cyber-btn{
  white-space: preserve;
  /* text-wrap-mode: nowrap; */
}

.cyber-border{
  border: 1px solid var(--secondary-color);
}

.hero-image{
  /* background-image: url("/images/pixel-window-gif.gif"); */
  background-size: cover;
  background-position: center;  
}

.book-hero{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.book-img{
  max-height: 200px;
}

.book-container{
  min-height: 100vh;
}

.vapor-lounge{
  /* min-height: 100vh; */
}

.home-logo {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.home-logo::before, 
.home-logo::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; /* Covers the entire circle */
  background-color: var(--fg-color);
  background: var(--fg-color);
  background-size: 40vh 40vh;
  clip-path: polygon(
    0 -10em, 100% -10em, 100% -10.5em, 0 -10.5em,
    0 -9em, 100% -9em, 100% -9.5em, 0 -9.5em,
    0 -8em, 100% -8em, 100% -8.5em, 0 -8.5em,
    0 -7em, 100% -7em, 100% -7.5em, 0 -7.5em,
    0 -6em, 100% -6em, 100% -6.5em, 0 -6.5em,
    0 -5em, 100% -5em, 100% -5.5em, 0 -5.5em,
    0 -4em, 100% -4em, 100% -4.5em, 0 -4.5em,
    0 -3em, 100% -3em, 100% -3.5em, 0 -3.5em,
    0 -2em, 100% -2em, 100% -2.5em, 0 -2.5em,
    0 -1em, 100% -1em, 100% -1.5em, 0 -1.5em,
    0 0, 100% 0, 100% .5em, 0 .5em,
    0 1em, 100% 1em, 100% 1.5em, 0 1.5em,
    0 2em, 100% 2em, 100% 2.5em, 0 2.5em,
    0 3em, 100% 3em, 100% 3.5em, 0 3.5em,
    0 4em, 100% 4em, 100% 4.5em, 0 4.5em,
    0 5em, 100% 5em, 100% 5.5em, 0 5.5em,
    0 6em, 100% 6em, 100% 6.5em, 0 6.5em,
    0 7em, 100% 7em, 100% 7.5em, 0 7.5em,
    0 8em, 100% 8em, 100% 8.5em, 0 8.5em,
    0 9em, 100% 9em, 100% 9.5em, 0 9.5em
  );
  animation: logoLightEffect 8s linear infinite reverse;
}

.home-logo::after {
  animation-direction: normal; /* Makes ::after animation flow in the opposite direction */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

* {
 box-sizing: border-box;
}

.app-body {
 /* background-color: var(--bg-color); */
 /* background: var(--bg-gradient); */
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 position: relative;
 overflow: hidden;
}

ion-icon.down-arrow {
  margin-top: 50px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

ion-icon.down-arrow:hover, ion-icon.down-arrow:focus {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.window-container{
  /* background-color: var(--bg-color); */
  /* background: var(--bg-gradient); */
  border-top: 8px solid var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  position: relative;
  overflow: hidden;  
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  background-size: 5px 5px, 5px 5px;
  background-position:  -1px -1px, -1px -1px;
  background-image: linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  mix-blend-mode: difference;
}

.welcome-text{
  position: absolute;
  margin-top: 60vh;
}

.kill-bill{
  position: absolute;
  margin-right: 40%;
  /* animation: bounce 1.2s infinite alternate; */
  .btn{
    width: 180px;
    display:inline-block;
    background-color: #d0a80e;
    border: 2px solid black;
  }
}

.books{
  position: absolute;
  margin-left: 40%;
  /* animation: bounce 1.2s infinite alternate; */
  .btn{
    width: 180px;
    display:inline-block;
    background-color: white;
    border: 2px solid black;
  }
}

.footer{
  a{
    color: white;
  }
  h2{
    font-size: 28px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 15px;
    color: white;
  }
  .fa:hover {
    opacity: 0.7;
  }

}

.home-btns\:bounceOrig:hover { animation: bounceOrig 1s infinite; }

.glitch {
  margin-top: 80px;
  clip-path: polygon(0 0, 100% 0, 100% .5em, 0 .5em);
  animation: glitch 10s linear infinite;
  transform: translatex(.1rem);
}

.pulse-border {
  border-top: 6px solid var(--secondary-color);
  animation: border-pulse 2s infinite; 
  /* padding: 1rem;  */
}

@keyframes c {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes glitch {
 to {
  clip-path: polygon(0 calc(100% - .5em), 100% calc(100% - .5em), 0 100%, 0 100%)
 }
}

@keyframes logoLightEffect {
  0% {
    transform: translateY(-100%); /* Start outside the circle */
  }
  50% {
    transform: translateY(0); /* Fully visible in the circle */
  }
  100% {
    transform: translateY(100%); /* Move out of the circle */
  }
}

@keyframes lightEffect {
  to {
   clip-path: polygon(
 0 0, 100% 0, 100% .5em, 0 .5em,
 0 1em, 100% 1em, 100% 1.5em, 0 1.5em,
 0 2em, 100% 2em, 100% 2.5em, 0 2.5em,
 0 3em, 100% 3em, 100% 3.5em, 0 3.5em,
 0 4em, 100% 4em, 100% 4.5em, 0 4.5em,
 0 5em, 100% 5em, 100% 5.5em, 0 5.5em,
 0 6em, 100% 6em, 100% 6.5em, 0 6.5em,
 0 7em, 100% 7em, 100% 7.5em, 0 7.5em,
 0 8em, 100% 8em, 100% 8.5em, 0 8.5em,
 0 9em, 100% 9em, 100% 9.5em, 0 9.5em,
 0 10em, 100% 10em, 100% 10em, 0 10em,
 0 11em, 100% 11em, 100% 11.5em, 0 11.5em,
 0 12em, 100% 12em, 100% 12.5em, 0 12.5em,
 0 13em, 100% 13em, 100% 13.5em, 0 13.5em,
 0 14em, 100% 14em, 100% 14.5em, 0 14.5em,
 0 15em, 100% 15em, 100% 15.5em, 0 15.5em,
 0 16em, 100% 16em, 100% 16.5em, 0 16.5em,
 0 17em, 100% 17em, 100% 17.5em, 0 17.5em,
 0 18em, 100% 18em, 100% 18.5em, 0 18.5em,
 0 19em, 100% 19em, 100% 19.5em, 0 19.5em,
 0 20em, 100% 20em, 100% 20.5em, 0 20.5em
   );
  }
 }

@keyframes border-pulse {
  0% {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
  }
  50% {
    border-color: #bd93f9;
    box-shadow: 0 0 20px #bd93f9;
  }
  100% {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
  }
} 

.fullscreen { 
  width: 100%;
  height: 100%;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* vapor lounge */

.scene {
	width: 100%;
	position: relative;
	height: 50%;
	background: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	perspective: 500px;
}

.item {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left top;
	pointer-events: none;
}

.mirror{
  width: 250px;
  height: 400px;
	position: relative;
	box-shadow: 16px 2px 10px rgba(0, 0, 0, 0.4);
	perspective: 500px;
	border-top-left-radius: 300px;
	border-top-right-radius: 300px;
	transform-origin: top center;
	transform: rotateX(3deg);
	cursor: pointer;
}

.panels {
  max-width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.window-div {
  width: 33.33%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px
}

.listen-panel {
  background-image: url("/images/hannah-psych.JPG");
}

.bio-panel {
  background-image: url("/images/band-stairs.jpg");
}

.bandcamp-panel {
  background-image: url("/images/door.jpg");
  background-position: 60% center;
}

.panel:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#mirror-content {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("/images/coat-milk.jpg");
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	box-shadow: inset 6px 3px 10px rgba(0, 0, 0, 0.4);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: 6px solid #e7e4df;
	z-index: 0;
	display: flex;
	justify-content: center;
}

#mirror-content-two {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("/images/band-stairs.jpg");  
	background-position: 50% center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	box-shadow: inset 6px 3px 10px rgba(0, 0, 0, 0.4);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: 6px solid #e7e4df;
	z-index: 0;
	display: flex;
	justify-content: center;
}

#mirror-content-three {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("/images/door.jpg");
  background-position: 60% center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	box-shadow: inset 6px 3px 10px rgba(0, 0, 0, 0.4);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: 6px solid #e7e4df;
	z-index: 0;
	display: flex;
	justify-content: center;
}

#mirror-content:before {
	position: absolute;
	content: "「 v i b e s 」";
	font-family: sans-serif;
	text-transform: uppercase;
	color: #e7e4df;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 10px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
	bottom: 0;
	z-index: 100;
	opacity: 0.6;
	transition: all 0.5s ease;
	padding: 18px 0;
}

#mirror-content-two:before {
	position: absolute;
	content: "「 b o o k s 」";
	font-family: sans-serif;
	text-transform: uppercase;
	color: #e7e4df;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 10px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
	bottom: 0;
	z-index: 100;
	opacity: 0.6;
	transition: all 0.5s ease;
	padding: 18px 0;
}

#mirror-content-three:before {
	position: absolute;
	content: "「 p l a t f o r m e r 」";
	font-family: sans-serif;
	text-transform: uppercase;
	color: #e7e4df;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 10px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
	bottom: 0;
	z-index: 100;
	opacity: 0.6;
	transition: all 0.5s ease;
	padding: 18px 0;
}

#mirror:hover #mirror-content:before {
	opacity: 0.4;
	transform: translateY(4px);
}

@media (width <= 1250px) {
  .spotify{
    position: absolute;
    top: 15vh;
  }
  .chatbox{
    position: initial;
    margin-top: 100px;
  }
  h1{
    font-size: 42px;
  }
}


@media (width <= 950px) {
  h1{
    font-size: 38px;
  }
}

/* hero sound pit */
.canvas-mask {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2560px;
  height: 100%;
  margin-left: -1280px;
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0.3) 40%, 
    rgba(0,0,0,0.9) 60%, 
    rgba(0,0,0,0.3) 80%, 
    rgba(0,0,0,0) 100%);
  
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0.3) 20%, 
      rgba(0,0,0,0) 50%, 
      rgba(0,0,0,0.3) 80%, 
      rgba(0,0,0,0.9) 100%);
  }
}

/* waves */
.c {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(45deg);
	/* 	Native CSS properties don't support the customization of border-style. Therefore, we use a trick with an SVG image inside background-image property. 
	https://kovart.github.io/dashed-border-generator/
	*/
	/* 	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='aqua' stroke-width='1' stroke-dasharray='1' stroke-dashoffset='1' stroke-linecap='butt'/%3e%3c/svg%3e"); */
	border-radius: 50%;
	/* border: 1px dotted aqua; */
  border: 1px dotted #f54171;
	animation: dripBounce 5s infinite;
}
@keyframes dripBounce {
	/* 	0%{top:50%} */
	10% {
		top: calc(50% + 5px);
	}
	20% {
		top: calc(50% - 5px);
	}
	35% {
		top: 50%;
	}
}
.c1 {
	height: 10px;
	width: 20px;
	animation-delay: -10s;
}
.c2 {
	height: 20px;
	width: 40px;
	animation-delay: -9.8s;
	top: calc(50% + 1px);
}
.c3 {
	height: 30px;
	width: 60px;
	animation-delay: -9.6s;
	top: calc(50% + 2px);
}
.c4 {
	height: 40px;
	width: 80px;
	animation-delay: -9.4s;
	top: calc(50% + 3px);
}
.c5 {
	height: 50px;
	width: 100px;
	animation-delay: -9.2s;
	top: calc(50% + 4px);
}
.c6 {
	height: 60px;
	width: 120px;
	animation-delay: -9s;
	top: calc(50% + 5px);
}
.c7 {
	height: 70px;
	width: 140px;
	animation-delay: -8.8s;
	top: calc(50% + 6px);
}
.c8 {
	height: 80px;
	width: 160px;
	animation-delay: -8.6s;
	top: calc(50% + 7px);
}
.c9 {
	height: 90px;
	width: 180px;
	animation-delay: -8.4s;
	top: calc(50% + 8px);
}
.c10 {
	height: 100px;
	width: 200px;
	animation-delay: -8.2s;
	top: calc(50% + 9px);
}
.c11 {
	height: 110px;
	width: 220px;
	animation-delay: -8s;
	top: calc(50% + 10px);
}
.c12 {
	height: 120px;
	width: 240px;
	animation-delay: -7.8s;
	top: calc(50% + 11px);
}
.c13 {
	height: 130px;
	width: 260px;
	animation-delay: -7.6s;
	top: calc(50% + 12px);
}
.c14 {
	height: 140px;
	width: 280px;
	animation-delay: -7.4s;
	top: calc(50% + 13px);
}
.c15 {
	height: 150px;
	width: 300px;
	animation-delay: -7.2s;
	top: calc(50% + 14px);
}
.c16 {
	height: 160px;
	width: 320px;
	animation-delay: -7s;
	top: calc(50% + 15px);
}
.c17 {
	height: 170px;
	width: 340px;
	animation-delay: -6.8s;
	top: calc(50% + 16px);
}
.c18 {
	height: 180px;
	width: 360px;
	animation-delay: -6.6s;
	top: calc(50% + 17px);
}
.c19 {
	height: 190px;
	width: 380px;
	animation-delay: -6.4s;
	top: calc(50% + 18px);
}
.c20 {
	height: 200px;
	width: 400px;
	animation-delay: -6.2s;
	top: calc(50% + 19px);
}
.c21 {
	height: 210px;
	width: 420px;
	animation-delay: -6s;
	top: calc(50% + 20px);
}
.c22 {
	height: 220px;
	width: 440px;
	animation-delay: -5.8s;
	top: calc(50% + 21px);
}
.c23 {
	height: 230px;
	width: 460px;
	animation-delay: -5.6s;
	top: calc(50% + 22px);
}
.c24 {
	height: 240px;
	width: 480px;
	animation-delay: -5.4s;
	top: calc(50% + 23px);
}
.c25 {
	height: 250px;
	width: 500px;
	animation-delay: -5.2s;
	top: calc(50% + 24px);
}
.c26 {
	height: 260px;
	width: 520px;
	animation-delay: -5s;
	top: calc(50% + 25px);
}
.c27 {
	height: 270px;
	width: 540px;
	animation-delay: -4.8s;
	top: calc(50% + 26px);
}
.c28 {
	height: 280px;
	width: 560px;
	animation-delay: -4.6s;
	top: calc(50% + 27px);
}
.c29 {
	height: 290px;
	width: 580px;
	animation-delay: -4.4s;
	top: calc(50% + 28px);
}
.c30 {
	height: 300px;
	width: 600px;
	animation-delay: -4.2s;
	top: calc(50% + 29px);
}
.l {
	height: 20px;
	width: 1px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: aqua;
	animation: drip 5s infinite;
	animation-delay: -10.3s;
}
@keyframes drip {
	0% {
		opacity: 1;
		top: 0%;
	}
	10% {
		opacity: 0.1;
		top: calc(50% + 10px);
	}
	100% {
		opacity: 0;
	}
}

@media (width <= 1100px) {
  .about-us{
    .bio-text{
      width: 90%;
    }
  }
}

@media (width <= 900px) {
  .about-us{
    flex-direction: column; 
    .bio-pic{
      width: 100%;
      height: 300px;
    }
    .about-us-text{
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .bio-text{
      width: 85%;
      padding: 20px;
    }
  }
  .listen .playlist{
    width: 100%;
  }
  .spotify-wrapper{
    margin: 0px;
  }
  .listen iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
  }  
  .window-div{
    width: 100%;
  }
  .panels{
    flex-direction: column;
  }
  .listen-panel{
    background-position: 50% 15%;
  }
  .footer-icons .fa{
    padding: 0px;
    margin: 0px 10px;
  }
}


@media (width <= 777px) {
  .shows{
    .location{
      font-size: 26px;
    }
  }
  .about-us{
    .bio-text{
      width: 95%;
      padding: 20px;
    }
  }
}

@media (width <= 640px) {
  .shows{
    .location{
      font-size: 22px;
    }
    .date{
      font-size: 28px;
    }
    .time{
      font-size: 28px;
    }
  }  
  .footer-details {
    flex-wrap: wrap;
  }
  .footer{
    .mobile-only{
      display: block;
    }
    .no-mobile{
      display: none;
    }
    .footer-left, .pages {
      display: flex;
      flex-direction: column; 
      width: 50%;
      text-align: center;
      margin-top: 0px;
    }
    .footer-details {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      text-align: right;
      width: 100%;
    }
    .social-icons{
      display: inline-block;
    }
  }
}